@import "vars";

* {
    padding: 0 !important;
    margin: 0 !important;
}

html {
    font-size: 62.5% !important; /* Default is 10px now */
}

body {
    font-size: 1.8rem !important; /* basically equals 18px now by default */
    font-family: "Open Sans", Calibri, 'Trebuchet MS', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Impact, Haettenschweiler, sans-serif  !important;
    font-weight: bolder  !important;
}